doc/extension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.contao.org/extension"
	xmlns:ctx="http://www.contao.org/extension" elementFormDefault="qualified">

	<element name="extension">
		<complexType>
			<sequence>
				<element name="title" type="ctx:text"
					maxOccurs="unbounded">
					<annotation>
						<documentation>
							title of the extension.
						</documentation>
					</annotation>
				</element>
				<element name="subtitle" type="ctx:text" minOccurs="1"
					maxOccurs="unbounded">
					<annotation>
						<documentation>
							subtitle of the extension.
						</documentation>
					</annotation>
				</element>
				<element name="description" type="ctx:text"
					minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>
							description of the extension.
						</documentation>
					</annotation>
				</element>
				<element name="logo" type="ctx:image" maxOccurs="1"
					minOccurs="0">
					<annotation>
						<documentation>logo of the extension.</documentation>
					</annotation>
				</element>
				<element name="licence" type="ctx:license" minOccurs="0"
					maxOccurs="unbounded">
					<annotation>
						<documentation>
							license the extension is subject to.
						</documentation>
					</annotation>
				</element>
				<element name="author" type="ctx:identity" minOccurs="0"
					maxOccurs="unbounded">
					<annotation>
						<documentation>
							authors that have contributed to the extension.
						</documentation>
					</annotation>
				</element>
				<element name="copyright" type="ctx:identity"
					minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>
							copyright holder for the extension.
						</documentation>
					</annotation>
				</element>
				<element name="link" type="ctx:link" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>
							URL of the issue tracker for the extension.
						</documentation>
					</annotation>
				</element>
				<element name="dependencies" minOccurs="0"
					maxOccurs="unbounded" type="ctx:dependencies">
					<annotation>
						<documentation>
							dependencies for the extension.
						</documentation>
					</annotation>
				</element>
				<element name="conflicts" minOccurs="0"
					maxOccurs="unbounded" type="ctx:conflicts">
					<annotation>
						<documentation>
							conflicts for the extension.
						</documentation>
					</annotation>
				</element>
				<element name="pefers" minOccurs="0"
					maxOccurs="unbounded" type="ctx:pefers">
					<annotation>
						<documentation>
							suggestions and optional dependencies for the extension.
						</documentation>
					</annotation>
				</element>
                <element name="installer" type="ctx:class" minOccurs="0">
					<annotation>
						<documentation>
							name of the class that handles installation, uninstallation and upgrade tasks
						</documentation>
					</annotation>
				</element>
                <element name="upgrade" type="ctx:upgrade"
					maxOccurs="unbounded" minOccurs="0">
					<annotation>
						<documentation>specification of the upgradeability from older versions.</documentation>
					</annotation>
				</element>
				<element name="downgrade" type="ctx:downgrade"
					maxOccurs="unbounded" minOccurs="0">
					<annotation>
						<documentation>specification of the downgradeability to older versions.</documentation>
					</annotation>
				</element>
			</sequence>
			<attribute name="name" type="token" use="required">
				<annotation>
					<documentation>uniqe name of the extension.</documentation>
				</annotation>
			</attribute>
			<attribute name="version" type="ctx:version" use="required">
				<annotation>
					<documentation>version of the extension.</documentation>
				</annotation>
			</attribute>
			<attribute name="encrypted" type="boolean" use="optional" default="false">
				<annotation>
					<documentation>define if files in CONTAO and DATA are encrypted. See chapter "Licensing" from the rfccc-1 for more details!</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>

	<simpleType name="version">
		<annotation>
			<documentation>version string - see RFCCC1.</documentation>
		</annotation>
		<restriction base="string">
			<pattern
				value="(\d+)\.(\d+)(\.\d+)?([-\.][a-z]*\d*)?((\.head\.(\w+)|(\.(alpha|a|beta|b|rc|stable)\d*)?\.(\d+)))">
			</pattern>
		</restriction>
	</simpleType>

	<simpleType name="versionCompare">
		<annotation>
			<documentation>version string for comparing of versions.</documentation>
		</annotation>
		<restriction base="string">
			<pattern
				value="(\d+)(\.\d+)?(\.\d+)?([-\.][a-z]*\d*)?(\.(head\.(\w+)|(alpha|a|beta|b|rc|stable)\d*\.(\d+)))?">
			</pattern>
		</restriction>
	</simpleType>

	<complexType name="text">
		<annotation>
			<documentation>text in a defined language.</documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="language" use="optional" type="language">
					<annotation>
						<documentation>the language the text is written in - if omitted, 'en' is used.</documentation>
					</annotation>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="link">
		<sequence>
			<element name="description" type="ctx:text" maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation>description what the link defines.</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="href" use="required" type="ctx:url">
			<annotation>
				<documentation>the hyperref URL.</documentation>
			</annotation>
		</attribute>
		<attribute name="rel" use="required">
			<annotation>
				<documentation>
					defines the nature of the link.
				</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="homepage">
						<annotation>
							<documentation>
								link to a homepage.
							</documentation>
						</annotation>
					</enumeration>
					<enumeration value="snapshot">
						<annotation>
							<documentation>
								link to a snapshot.
							</documentation>
						</annotation>
					</enumeration>
					<enumeration value="screencast">
						<annotation>
							<documentation>
								link to a screencast.
							</documentation>
						</annotation>
					</enumeration>
					<enumeration value="video">
						<annotation>
							<documentation>
								link to a video.
							</documentation>
						</annotation>
					</enumeration>
					<enumeration value="help">
						<annotation>
							<documentation>
								link to general help.
							</documentation>
						</annotation>
					</enumeration>
					<enumeration value="faq">
						<annotation>
							<documentation>link to FAQ.</documentation>
						</annotation>
					</enumeration>
					<enumeration value="manual">
						<annotation>
							<documentation>
								link to manual.
							</documentation>
						</annotation>
					</enumeration>
					<enumeration value="forum">
						<annotation>
							<documentation>
								link to bulletin board discussion.
							</documentation>
						</annotation>
					</enumeration>
					<enumeration value="tracker">
						<annotation>
							<documentation>
								link to issue tracker.
							</documentation>
						</annotation>
					</enumeration>
					<enumeration value="scm">
						<annotation>
							<documentation>link to scm.</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="language" type="language" use="optional">
			<annotation>
				<documentation>
					defines the language of the link target. i.e. for 
					defining links to a manual in different languages.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<simpleType name="url">
		<annotation>
			<documentation>An URL.</documentation>
		</annotation>
		<restriction base="string">
			<pattern value=".*">
			</pattern>
		</restriction>
	</simpleType>

	<complexType name="identity">
		<annotation>
			<documentation>a private or business identity.
			</documentation>
		</annotation>
		<attribute name="name" use="required" type="string">
			<annotation>
				<documentation>Personal or business name. i.e. John Doe or Acme Inc.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="type" use="optional" default="personal">
			<simpleType>
				<restriction base="string">
					<enumeration value="personal">
						<annotation>
							<documentation>This identity represents a person.
							</documentation>
						</annotation>
					</enumeration>
					<enumeration value="group">
						<annotation>
							<documentation>This idenity represents a group.
							</documentation>
						</annotation>
					</enumeration>
					<enumeration value="company">
						<annotation>
							<documentation>This identity represents a business.
							</documentation>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="email" use="optional" type="string">
			<annotation>
				<documentation>E-Mail address for contact.</documentation>
			</annotation>
		</attribute>
		<attribute name="url" use="optional" type="string">
			<annotation>
				<documentation>Homepage for contact.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="license">
		<attribute name="name" use="required" type="string">
			<annotation>
				<documentation>Name of the license, i.e. LGPL3</documentation>
			</annotation>
		</attribute>
		<attribute name="file" use="optional" type="string">
			<annotation>
				<documentation>file with the license text. If this is not specified, 
					a file LICENCE_X will be searched, whereby X is the name of the 
					license i.e. LICENCE_LGPL3. 
					The license file must be delivered along with the extension.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="relation">
		<sequence>
			<element name="version" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>The version(s) of a referenced extension.
					</documentation>
				</annotation>
				<complexType>
					<attribute name="match" type="ctx:versionCompare">
						<annotation>
							<documentation>exact match of the version.</documentation>
						</annotation>
					</attribute>
					<attribute name="lowest" type="ctx:versionCompare">
						<annotation>
							<documentation>lowest matching version (including the version itself).</documentation>
						</annotation>
					</attribute>
					<attribute name="highest" type="ctx:versionCompare">
						<annotation>
							<documentation>highest matching version (excluding the version itself).</documentation>
						</annotation>
					</attribute>
				</complexType>
			</element>
			<element name="description" type="ctx:text" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>Description of the reference. Here one can define 
						why the dependency/conflict exists or why an extension is suggested for installation.
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="name" use="required" type="string">
			<annotation>
				<documentation>Name of the extension that is being referenced.
				</documentation>
			</annotation>
		</attribute>
	</complexType>
	
	<complexType name="dependencies">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="dependency"
				type="ctx:relation">
				<annotation>
					<documentation>Dependency on an extension.</documentation>
				</annotation>
			</element>
			<element name="group">
				<annotation>
					<documentation>a group of dependencies of an extension.</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" name="dependency"
							type="ctx:relation">
							<annotation>
								<documentation>Alternative dependency within the current group.</documentation>
							</annotation>
						</element>
					</sequence>
					<attribute name="preferation" type="token" use="required">
						<annotation>
							<documentation>space seperated list of the unique names of the dependencies highest order preference first.</documentation>
						</annotation>
					</attribute>
				</complexType>
			</element>
		</choice>
	</complexType>

	<complexType name="conflicts">
		<choice>
			<element minOccurs="0" maxOccurs="unbounded" name="conflict"
				type="ctx:relation">
				<annotation>
					<documentation>conflict to an extension.</documentation>
				</annotation>
			</element>
		</choice>
	</complexType>

	<complexType name="pefers">
		<choice>
			<element minOccurs="0" maxOccurs="unbounded" name="prefer"
				type="ctx:relation">
				<annotation>
					<documentation>suggest another extension to be installed along with the current one.</documentation>
				</annotation>
			</element>
		</choice>
	</complexType>
	
    <complexType name="upgrade">
    	<annotation>
    		<documentation>
    			Defines the upgradability for the current version from previous versions on.
    		</documentation>
    	</annotation>
    	<sequence>
    		<element name="description" type="ctx:text" maxOccurs="unbounded" minOccurs="0">
    			<annotation>
    				<documentation>Description of the upgradability.</documentation>
    			</annotation>
    		</element>
    	</sequence>
    	<attribute name="version" type="ctx:versionCompare" use="required">
    		<annotation>
    			<documentation>The oldest version this rule applies to.</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="userdata" type="ctx:userdata" default="partial" />
    </complexType>

    <complexType name="downgrade">
    	<annotation>
    		<documentation>
    			Defines the downgradability for the current version to previous versions.
    		</documentation>
    	</annotation>
    	<sequence>
    		<element name="description" type="ctx:text" maxOccurs="unbounded" minOccurs="0">
    			<annotation>
    				<documentation>Description of the downgradability.</documentation>
    			</annotation>
    		</element>
    	</sequence>
    	<attribute name="version" type="ctx:versionCompare" use="required">
    		<annotation>
    			<documentation>
    				The youngest version this rule applies to.
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="userdata" type="ctx:userdata" default="partial" />
    </complexType>

	<simpleType name="userdata">
		<restriction base="string">
			<enumeration value="lossless">
				<annotation>
					<documentation>Upgrade/downgrade can savely be done without data loss.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="dropUnused">
				<annotation>
					<documentation>Upgrade/downgrade will drop unused data.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="partial">
				<annotation>
					<documentation>Upgrade/downgrade will drop user data. i.e. deletion of a feature.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
   	
    <simpleType name="class">
    	<restriction base="string">
    		<pattern value="[a-zA-Z_][a-zA-Z0-9_]*(\\[a-zA-Z_][a-zA-Z0-9_]*)*"></pattern>
    	</restriction>
    </simpleType>

    <complexType name="image">
    	<choice>
    		<element name="url" type="ctx:url">
    			<annotation>
    				<documentation>External URL to the image.</documentation>
    			</annotation>
    		</element>
    		<element name="binary">
    			<annotation>
    				<documentation>The image embedded as base64 coding.</documentation>
    			</annotation>
    			<complexType>
    				<simpleContent>
    					<extension base="base64Binary">
    						<attribute name="type">
    							<annotation>
    								<documentation>Defines the binary type of the image.</documentation>
    							</annotation>
    							<simpleType>
    								<restriction base="string">
    									<enumeration value="image/png">
    										<annotation>
    											<documentation>PNG</documentation>
    										</annotation>
    									</enumeration>
    									<enumeration value="image/jpeg">
    										<annotation>
    											<documentation>JPEG</documentation>
    										</annotation>
    									</enumeration>
    									<enumeration value="image/gif">
    										<annotation>
    											<documentation>GIF</documentation>
    										</annotation>
    									</enumeration>
    								</restriction>
    							</simpleType>
    						</attribute>
    					</extension>
    				</simpleContent>
    			</complexType>
    		</element>
    	</choice>
    </complexType>
</schema>
